@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.title {
  margin-top: 4.5rem;
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 60px;
}
.bold {
  color: #fe346e;
}
.bold::before {
  content: "";
  animation: animate infinite 8s;
}
@keyframes animate {
  0% {
    content: "ACCA";
  }

  20% {
    content: " CA";
  }

  40% {
    content: " MATRIC";
  }

  60% {
    content: " INTER";
  }
  80% {
    content: " ACCA";
  }
  100% {
    content: " CA";
  }
}

.para1 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.img img {
  width: 600px;
  height: 400px;
}
.btn {
  background-color: #fe346e;
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 18px;
  transition: 1s;
  border: 3px solid white;
  border-radius: 30px;
}
.icons {
  font-size: 35px;
  margin-bottom: 12px;
  display: block;
  border: 3px solid white;
  color: white;
  margin-left: 24rem;
  padding: 5px;
  border-radius: 30px;
}
.icons:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #1a1a38;
}
.icon4 {
  color: #fe346e;
  font-size: 30px;
  padding-left: 10px;
}
