.reg-input {
  width: 45%;
}
.reg-1-input {
  width: 95%;
}
.btn-register {
  width: 95%;
}
.choose {
  width: 95%;
}
.fb-1 {
  width: 95%;
}
.img-3 {
  width: 500px;
  height: 500px;
  margin-left: 10rem;
  margin-top: 5.5rem;
}
.form-reg {
  margin-top: 10px;
}
.reg {
  margin-left: 0.7rem;
}
